<view-fader [isViewVisible]="isViewVisible">
    <h2 class="feature-title" style="font-family: px-neuropol; ">Analytics</h2>

    <span class="text-primary" style="font-size: 20px;">
        <span style="font-size: 34px; margin-left: 40%; font-family: px-neuropol; ">Exceptions</span>
        <span style="float: right;">
            Errors Count: {{ac.analyticsData.exceptions.length}}
            <button class="btn btn-primary" [disabled]="ac.analyticsData.exceptions.length === 0" style="width: 75px;" (click)="onClickClearErrors()">Clear</button>
        </span>&nbsp;&nbsp;
    </span>

    <div style="height: 10px;"></div>

    <div class=" text-primary">
        <div class="card " *ngFor="let exception of ac.analyticsData.exceptions">
            <div class="card-header">
                <h4 class="card-header">
                    <span>{{exception.dateString}}&nbsp;&nbsp;&nbsp;{{exception.timeString}}&nbsp;&nbsp;&nbsp;{{exception.errorMessage}}</span>
                </h4>
            </div>

        </div>
    </div>

    <span class="text-primary" style="font-size: 20px;">
        <span style="font-size: 34px; margin-left: 40%; font-family: px-neuropol; ">Performance</span>
        <span style="float: right;">
            Average Response Time: {{ac.analyticsData.averageResponseTime}}ms
            <button class="btn btn-primary" [disabled]="ac.analyticsData.performances.length === 0" style="width: 75px;" (click)="onClickClearResponseTime()">Clear</button>
        </span>&nbsp;&nbsp;
    </span>
    <div style="height: 10px;"></div>

    <div class=" text-primary">
        <div class="card " *ngFor="let performance of ac.analyticsData.performances">
            <div class="card-header">
                <h4 class="card-header">
                    <span>{{performance.dateString}}&nbsp;&nbsp;&nbsp;{{performance.timeString}}&nbsp;&nbsp;&nbsp;{{performance.responseTime}}ms</span>
                </h4>
            </div>

        </div>
    </div>

</view-fader>
