$map-controls-width: 300px;
$map-controls-height: 250px;

.textAreaNgModel {
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 10px;
}

.flex-item {
  padding: 10px;
}

.map-controls {
  min-width: $map-controls-width;
  max-width: $map-controls-width;
  height: $map-controls-height;
}

.map-view {
  width: calc(100% - #{$map-controls-width});
  background-color: rgba(232, 232, 232, 1)
}

// should match with mobileApis.component.ts::mediaQueryBreak
@media (max-width: 1280px) {
  .map-view {
    width: 100%;
    background-color: rgba(232, 232, 232, 1)
  }
}

.mat-tab-label {
  color: mat-color($custom-accent);
  font-size: large;
  font-family: Neuropol;
  opacity: 1 !important;
  font-weight: bold;
}

.mat-form-field-wrapper {
  width: 300px;
}

.mat-select-options {
  width: 300px; // this should be the same vale as .mat-form-field-wrapper.width
}

.s2t-text {
  margin-top: 20px;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle {
  background-color: white;
  color: mat-color($custom-accent);
  border-color: mat-color($custom-accent);
  border-style: solid;
  border-width: 1px;
}

.mat-button-toggle-checked {
  background-color: mat-color($custom-accent);
  color: white;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  background-color: mat-color($custom-accent);
  color: white;
}

.mobile-apis-feature-selected {
  cursor: none;
  background-color: white;
}

.mobile-apis-feature-selected:hover {
  cursor: default;
  color: mat-color($custom-accent);
  background-color: transparent;
}

.mobile-apis-feature-not-selected {
  cursor: pointer;
}
