<speech-to-text [isVisible]="showSpeechToText"></speech-to-text>
<text-to-speech [isVisible]="showTextToSpeech"></text-to-speech>

<view-fader [isViewVisible]="isViewVisible">
  <mat-tab-group mat-align-tabs="center" color="primary" dynamicHeight [selectedIndex]="0">
    <mat-tab label="Map">
      <div class="flex-container">
        <div class="flex-item map-controls">

          <mat-form-field>
            <input matInput placeholder="Address" [(ngModel)]="address">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Zip Code" [(ngModel)]="zipcode">
          </mat-form-field>
          <br />

          <div style="float: left; margin-top: 10px; ">&nbsp;&nbsp;Latitude</div>
          <div style="float: right; margin-top: 10px; ">Longitude&nbsp;&nbsp;</div>
          <br />
          <div style="margin-top: 10px; ">
            <div *ngIf="latitude !== 0" style="float: left; ">&nbsp;&nbsp;{{latitude}}</div>
            <div *ngIf="latitude === 0" style="float: left; ">&nbsp;&nbsp;00.00000</div>

            <div *ngIf="longitude !== 0" style="float: right; ">{{longitude}}&nbsp;&nbsp;&nbsp;</div>
            <div *ngIf="longitude === 0" style="float: right; ">00.00000&nbsp;&nbsp;&nbsp;</div>
            <br /><br />
            <button mat-flat-button color="primary" (click)="gm.findMe()" style="float: left; " title="Find Me on Google Maps">Find Me</button>
            <button mat-flat-button color="primary" (click)="gm.useAddress(address, zipcode)" [disabled]="shouldUpdateByAddressBeDisabled()" style="float: right; " title="Use Address to Google Maps">Use Address</button>
          </div>
        </div>

        <google-maps class="flex-item map-view" heightPercent="100" [isVisible]="true" style="border-radius: 10px; display: block; " [style.width.px]="getMapWidth()" [style.height.px]="getMapHeight()"></google-maps>

      </div>
    </mat-tab>

    <mat-tab label="Speech">
      <div class="flex-container">
        <div class="flex-item">
          <div class="s2t-text" style="width: 285px;  margin-top: 20px; margin-left:10px; ">
            <span>
              <mat-icon color="primary" class="toolbar-icon-button" (click)="onClickTextToSpeech()" style="float:left; cursor: pointer; margin-bottom: 15px; font-size: 40px; " title="Convert Text to Speech">volume_up</mat-icon>
              <mat-icon color="primary" class="toolbar-icon-button" (click)="onClickSpeechToText()" style="float:right; cursor: pointer; margin-bottom: 15px; font-size: 40px; " title="Convert Speech to Text">mic</mat-icon>
            </span>
            <textarea style="font-size: 110%; min-height: 170px; color: rgba(63, 81, 181, 1); " *ngIf="showTextArea" [spellcheck]="ac.mobileApisState.spellCheckingEnabled" class="form-control textAreaNgModel" [rows]="getRowCount()" (change)="onChangeMessage($event.target.value)" [ngModel]="ac.mobileApisState.textMessage"></textarea>
            <span>
              <mat-icon *ngIf="!ac.mobileApisState.spellCheckingEnabled" color="primary" class="toolbar-icon-button" (click)="onClickSpellCheck(true)" style="float:left; cursor: pointer; margin-top: 0; font-size: 40px; " title="Spell Checking: Off">check_circle_outline</mat-icon>
              <mat-icon *ngIf="ac.mobileApisState.spellCheckingEnabled" color="primary" class="toolbar-icon-button" (click)="onClickSpellCheck(false)" style="float:left; cursor: pointer; margin-top: 0; font-size: 40px; " title="Spell Checking: On">check_circle</mat-icon>

              <mat-icon color="primary" class="toolbar-icon-button" (click)="onClickClearText()" style="float:right; cursor: pointer; margin-top: 0; font-size: 40px; " title="Clear Text">clear</mat-icon>
              <span class="app-text-primary" style="float: left; margin-left: 5px; margin-top: 7px; font-size: 16px; ">
                Spell Checking: <span style="font-weight: bold; ">{{ ac.mobileApisState.spellCheckingEnabled ? "On" : "Off" }}</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="SMS">
      <div class="flex-container">
        <div class="flex-item">
          <div style="width: 285px; margin-left: 10px; ">
            <br />
            <mat-form-field>
              <mat-label>* Cellular Carrier</mat-label>
              <mat-select class="mat-select-options" [(value)]="ac.mobileApisState.mobileCarrier">
                <mat-option *ngFor="let cellCarrier of cellCarriers" [value]="cellCarrier.name">
                  {{cellCarrier.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br /><br />
            <mat-form-field>
              <input min="0" max="9999999999" (keyup)="onKeyUp($event.target.value)" (keydown)="onKeyDown($event)" type="number" matInput placeholder="* Mobile Number (Numbers Only)" [ngModel]="mobileNumber">
            </mat-form-field>
            <br /><br />
            <button mat-flat-button color="primary" [disabled]="shouldSendBeDisabled()" (click)="onClickSend()" style="float: right; ">Send</button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</view-fader>
