
<view-fader [isViewVisible]="isViewVisible">

  <div class="flex-container">
    <div class="flex-item app-text-primary">
      <div class="already-feature-title" style="font-family: px-neuropol; ">ExpressDirect Integration</div>
      <div class="already-feature-text">
        <div>
          This is an Angular.Net Application with the Express library integration
        </div>
      </div>
      <br />
      <div class="already-feature-text">
        <div>
          <express-component></express-component>
        </div>
      </div>
    </div>
  </div>
</view-fader>

