<div class="overview">

  <h1 i18n>Philips SmartSleep Analyzer takes about 10 minutes to complete.</h1>

  <div class="panel">

    <h2 i18n>Important information about your health:</h2>

    <p i18n>Philips SmartSleep Analyzer is designed to recommend the best sleep management solutions for you.</p>

    <p i18n>Philips SmartSleep Analyzer is for demonstration purposes only. Your responses will be deleted once the demonstration is over, and will not be saved or used in any manner.</p>

    <p i18n>Philips SmartSleep Analyzer may recommend improvements for sleep challenges that may not provide optimal results if you are taking prescription opioids, have a serious medical condition known to disturb sleep, such as heart failure, poorly controlled asthma or severe lung disease, end-stage kidney disease needing renal dialysis, severe pain requiring daily opioid medication, cancer needing chemotherapy, severe depression or anxiety. Please speak with your doctor prior to starting any sleep management therapy.</p>

    <div class="warning l-flex l-flex-row">
      <i class="fa fa-warning"></i>
      <p i18n>If you suffer from any of these conditions, please consult a doctor before implementing any sleep improvement measures.</p>
    </div>

  </div>

  <button i18n
          class="btn btn-submit"
          (click)="onStartSurvey('just get er done!')">
    Let's go
  </button>
</div>
