<div class="overview">

  <h1 style="font-weight: normal; font-size: 24px; ">
    Let's start by getting a quick snapshot of your general health and lifestyle.
  </h1>

  <h1 style="font-weight: normal; font-size: 20px; ">
    Are you currently under the care of a physician for depression and/or anxiety?
  </h1>


  <div class="panel">
    <mat-action-list>
      <button mat-list-item (click)="answer()"> Yes </button>
      <button mat-list-item (click)="answer()"> No </button>
    </mat-action-list>
  </div>

</div>
