.flex-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  margin-top: 20px;
}

.notification-feature-subtitle {
  color: #007aff;
  background-color: #dfdfdf;
  font-family: px-neuropol;
  padding: 10px;
  width: 400px;
  height: 60px;
  text-align: center;
  border-radius: 25px;
}

.notification-feature-registration {
  color: #007aff;
  background-color: #dfdfdf;
  padding: 10px;
  width: 400px;
  text-align: justify;
  border-radius: 25px;
  font-size: 20px;
}

.notification-feature-transceiver {
  color: #007aff;
  background-color: #dfdfdf;
  padding: 10px;
  width: 400px;
  text-align: justify;
  border-radius: 25px;
  font-size: 20px;
}
