<speech-to-text [isVisible]="showSpeechToText"></speech-to-text>
<text-to-speech [isVisible]="showTextToSpeech"></text-to-speech>

<modal-dialog class="text-primary" [isVisible]="showModalDialog">
    <div style="margin: 10px; height: 285px; overflow-y: scroll; ">

        <div style="text-align: center; font-weight: bold; ">
            OVERVIEW
        </div>
        <div>
            The Notification feature is a type of messaging system. The system will send and receive notifications, but is not limited to text. It is also possible to send and receive objects and collection.
        </div>
        <div style="text-align: center; font-weight: bold; ">
            Steps to Send a Notification
        </div>
        <div>
            1)	Register the channel by entering the channel name in the "Channel Name" textbox.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;The channel name can be any name you choose
            <br />
            2)	Click the "Register" button
            <br />
            3)	Enter text in the "Transmit Message(s)" textbox
            <br />
            4)	Click the send button
        </div>
        <div style="text-align: center; font-weight: bold; ">
            Steps to Receive a Notification
        </div>
        <div>
            1)	Register the channel, as you did in step 1 above
            <br />
            2)	From the "Receiving Subscription(s)" list box, select which channel(s) that you want
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;to receive notifications from. This can be your own channel
            <br />
            3)	Now when the channels that you have subscribed to send notifications, you will see the channel name along with the message, in the "Received Message(s)" textbox
        </div>
        <br />
        <div style="text-align: center; font-weight: bold; ">
            Composing a Text Message
        </div>
        <div>
            You can enter text without the keyboard by using the "Speech to Text" converter.
            To the right of the "Transmit Message(s)" textbox is a microphone icon. Click this icon and begin speaking. Your speech will be converted to text.
        </div>
        <br />
        <div style="text-align: center; font-weight: bold; ">
            Voice Activated Commands
        </div>
        <div>
            You can activate commands without the keyboard or mouse by using the "Speech to Text" converter. Click the microphone and begin speaking. Your voice commands will initiate the notification commands.
            <br /><br />
            Here is an example registering a channel named "Jupiter Station".
            <br />
            1)	Click on the microphone icon
            <br />
            2)	Speak: Computer, register channel "Jupiter Station"
        </div>
        <br />
        <div style="text-align: center; font-weight: bold; ">
            Other Voice Activate Commands
        </div>
        <div>
            Computer, subscribe to channel "Jupiter Station"
            <br />
            Computer, unregister channel
            <br />
            Computer, send message
            <br />
            Computer, clear text
            <br />
        </div>
    </div>

</modal-dialog>

<view-fader [isViewVisible]="isViewVisible">
    <div class="row">
        <div class="col-5">
            <h4 class="feature-subtitle">Registration</h4>
            <div class="feature-registration">
                <div style="margin: 5px;">
                    <div style="margin-left: 10px;">* Channel Name</div>
                    <input [disabled]="xcvr.channelRegistered" [(ngModel)]="xcvr.channelRegistration.name" class="form-control" type="text" style="width: 100%; margin-right: 10px; color: #007aff; text-transform: uppercase;" />
                    <button *ngIf="!xcvr.channelRegistered" [disabled]="shouldRegistrationBeDisabled()" style="margin-top: 10px; float: right; " (click)="onClickRegister()" class="btn btn-primary" title="Register Channel">Register</button>
                    <button *ngIf="xcvr.channelRegistered" [disabled]="shouldUnregistrationBeDisabled()" style="margin-top: 10px; float: right; " (click)="onClickUnregister()" class="btn btn-primary" title="Unregister Channel">Unregister</button>
                    <div style="height: 50px; width: 100%; "></div>
                </div>
            </div>
            <br />
            <h4 class="feature-subtitle">Registered Channels</h4>
            <div class="feature-registration">
                <div style="margin: 5px;">
                        <select [(ngModel)]="xcvr.channelsToUnregister" [disabled]="true" class="form-control text-primary" size="5">
                        <option *ngFor="let channel of xcvr.getOrderedAllRegisteredChannels()" [value]="channel.name">{{channel.name}}</option>
                    </select>
                    <div style="height: 50px; width: 100%; "></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <h4 class="feature-subtitle">Transceiver</h4>

            <div class="feature-transceiver">
                <div>
                    <span>
                        <a href="javascript:void(0);" (click)="onClickTextToSpeech()" style="color: cornflowerblue; float:left; cursor: pointer; font-size: 22px; " title="Text-to-speech"> <i class="fa fa-volume-up fa"></i></a>
                        <span style="margin-left: 70px; ">Transmit Message(s)</span>
                        <a href="javascript:void(0);" (click)="onClickSpeechToText()" style="color: cornflowerblue; float:right; cursor: pointer; font-size: 24px; " title="Speech-to-text"><i class="fa fa-microphone fa"></i></a>
                    </span>
                    <textarea *ngIf="showTextArea" [spellcheck]="spellCheck" [rows]="getRowCount()" [(ngModel)]="textToSend" class="form-control textToSend" type="text" style="width: 100%; margin-right: 10px; color: #007aff;"></textarea>
                    <a *ngIf="!spellCheck" href="javascript:void(0);" (click)="onClickSpellCheck(true)" style="color: red; float:left; cursor: pointer; margin-top: 5px; " title="Spell Checking: Off"><i class="fa fa-check fa"></i></a>
                    <a *ngIf="spellCheck" href="javascript:void(0);" (click)="onClickSpellCheck(false)" style="color: green; float:left; cursor: pointer; margin-top: 5px; " title="Spell Checking: On"><i class="fa fa-check fa"></i></a>
                    <span style="float: left; margin-left: 5px; margin-top: 7px; font-size: 16px; ">Spell Checking</span>
                    <a href="javascript:void(0);" (click)="onClickClearText()" style="color: cornflowerblue; cursor: pointer; float: left; margin-top: 5px; margin-left: 50px; font-size: 22px; " title="Clear Text"><i class="fa fa-recycle fa"></i></a>

                    <button [disabled]="shouldSendBeDisabled()" style="margin-top: 5px; float: right; " (click)="onClickSendMessage()" class="btn btn-primary" title="Send Message">Send</button>
                    <br /><br />
                    <div style="margin-left: 10px;">Receiving Subscription(s)</div>
                    <select [(ngModel)]="xcvr.channelRegistration.subscriptions" multiple="multiple" class="form-control text-primary" size="3" (change)="onUpdateSubscriptions()">
                        <option *ngFor="let channel of xcvr.getOrderedChannelForSubscriptions()" [value]="channel.name">{{channel.name}}</option>
                    </select>
                    <span>Received Message(s)</span>
                    <textarea disabled="disabled" [rows]="4" class="form-control" type="text" style="width: 100%; margin-right: 10px; color: #007aff;">{{textReceived}}</textarea>
                </div>
            </div>
        </div>
        <div (click)="onClickHelp()" style="width: 36px; height: 36px; ">
            <i  style="color: cornflowerblue; cursor: pointer; font-size: 36px; " title="Help on Notification" class="fa fa-question-circle fa"></i>
        </div>
        <div class="col-1"></div>
    </div>
</view-fader>

