html,
body {
  font-size: 16px;
  font-family: 'Centrale Sans', sans-serif;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  background: radial-gradient(at center right, $blue-dark-4, $blue-darkest-2);
}

body {
  &.modal-open,
  &.navigation-open {
    overflow-y: hidden;
  }

  &.overflow-hidden {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6, p, a, li {
  line-height: 24px;
  font-weight: 300;
}

p, li {
  font-size: 17px;
  line-height: 25px;
}

a {
  text-decoration: underline;
  cursor: pointer;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

.superscript {
  vertical-align: super;
  font-size: 10px;
  padding: 0 1px;
}

div,
input,
label,
span,
textarea {
  box-sizing: border-box;
}

// flexbox

.l-flex {
  display: flex;
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-row {
  flex-direction: row;
}

.l-flex-justify-content-center {
  justify-content: center;
}

.l-flex-justify-content-space-between {
  justify-content: space-between;
}

.l-flex-justify-content-end {
  justify-content: flex-end;
}

.l-flex-align-items-center {
  align-items: center;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

// margins & padding
// TODO: for loops not working
@for $i from 1 through 4 {
  $marginsize: 10px * $i;

  .m-#{$i} {
    margin: $marginsize;
  }
}

@for $i from 1 through 4 {
  $paddingsize: 10px * $i;

  .p-#{$i} {
    padding: $paddingsize;
  }
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

// text
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

// lists
ul {
  &.list-inline {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
    }
  }
}

// buttons
.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0 20px;
  font-size: 14px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: 'Centrale Sans', sans-serif;

  &.btn-cta,
  &.btn-submit,
  &.btn-transparent {
    background-color: $green-turquoise; // TODO replace when have designs
    color: $white;
    height: 32px;
  }

  &.btn-transparent {
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
  }

  &:disabled {
    background-color: $gray-c;
    cursor: not-allowed;
  }

  &.btn-block {
    width: 100%;
  }

  &:focus {
    outline: transparent;
  }
}

// display
.panel {
  background-color: $white;
  padding: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

// layout
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// video
.responsive-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-video iframe {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.clearfix {
  @include clearfix();
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

// utility
.i18n-messages {
  display: none;
}

@media all and (min-width: 961px) {

  // layout
  .container-lg {
    max-width: $container-lg;
    margin: 0 auto;
  }

  .container-md {
    max-width: $container-md;
    margin: 0 auto;
  }

  .container-sm {
    max-width: $container-sm;
    margin: 0 auto;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
