@mixin clearfix() {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

%text {
  color: $white;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 46px;
}

%content {
  color: $white;
  font-size: 17px;
  line-height: 26px;
  font-style: italic;
  margin: -25px 0 35px;

  ul {
    margin-top: 10px;
    padding-left: 20px;
  }
}
