<view-fader [isViewVisible]="isViewVisible">
  <div class="splash-feature-title" style="font-family: px-neuropol; ">Blend of Technologies</div>
</view-fader>

<expand-visible [isVisible]="image0Visible" class="expand-visible">
  <img alt="" src="../../resources/images/angular.png" class="splash-feature-image" />
</expand-visible>

<expand-visible [isVisible]="image1Visible" class="expand-visible">
  <img alt="" src="../../resources/images/netcore.png" class="splash-feature-image" />
</expand-visible>

<expand-visible [isVisible]="image2Visible" class="expand-visible">
  <img alt="" src="../../resources/images/visualstudio.png" class="splash-feature-image" />
</expand-visible>

<expand-visible [isVisible]="image3Visible" class="expand-visible">
  <img alt="" src="../../resources/images/git-octocat.png" class="splash-feature-image" />
</expand-visible>

<expand-visible [isVisible]="image4Visible" class="expand-visible">
  <img alt="" src="../../resources/images/gulp.png" class="splash-feature-image" />
</expand-visible>

<expand-visible [isVisible]="image5Visible" class="expand-visible">
  <img alt="" src="../../resources/images/node.png" class="splash-feature-image" />
</expand-visible>

<expand-visible [isVisible]="image6Visible" class="expand-visible">
  <img alt="" src="../../resources/images/npm.png" class="splash-feature-image" />
</expand-visible>
