.topMargin {
  margin: 20px;
}

.displayIfNotPhone { /*is not phone*/
  display: normal;
}

@media screen and (max-width: 667px) {
  .topMargin {
    margin: -20px;
  }

  .displayIfNotPhone {
    display: none;
  }
}

.feature-selected {
  cursor: none;
  background-color: white;
}

.feature-selected:hover {
        cursor: default;
        color: #007bff;
        background-color: transparent;
    }

.feature-not-selected {
  cursor: pointer;
}
