<mat-drawer-container class="app-sidenav-container"
                      [class.dark-theme]="isDarkTheme" [dir]="dir">


  <mat-drawer #drawer class="app-side-nav"
              [opened]="!isScreenSmall()"
              [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">Features</mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="side-nav-content">
    <app-toolbar (toggleTheme)="toggleTheme()"
                 (toggleSidenav)="drawer.toggle()"
                 (toggleDir)="toggleDir()">
    </app-toolbar>
  </div>

</mat-drawer-container>

