<mat-toolbar color="primary">
  <table style="width: 100%">
    <tr>
      <td>
        <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
          <mat-icon>menu</mat-icon>
          <mat-icon *ngIf="ac.isOnline" style="margin-left: 20px; " title="Application is Online">signal_wifi_4_bar</mat-icon>
          <mat-icon *ngIf="!ac.isOnline" style="margin-left: 20px; " title="Application is Online">signal_wifi_offline</mat-icon>
        </button>
      </td>
      <td style="text-align: center; ">
        <div style="font-family: px-neuropol; font-size: 32px; ">Angular.Net</div>
      </td>
      <td style="text-align: right; ">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">About</button>
    <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button>
    <button mat-menu-item (click)="toggleDir.emit()">Toggle dir</button>
  </mat-menu>
</mat-toolbar>
