<view-fader [isViewVisible]="isViewVisible">

  <table class="analytics-feature-title">
    <tr>
      <td style="width: 20%; padding-left: 30px;">Exceptions</td>
      <td style="width: 40%; text-align: right; ">Errors Count:</td>
      <td style="width: 10%; font-family: Arial; ">{{ac.analyticsData.exceptions.length}}</td>
      <td style="width: 30%; text-align: right; padding-right: 5px; "><button mat-mini-fab color="accent" [disabled]="ac.analyticsData.exceptions.length === 0" (click)="onClickClearErrors()">Clear</button></td>
    </tr>
  </table>
  <mat-card style="margin-top: 10px; " *ngFor="let exception of ac.analyticsData.exceptions"><span>{{exception.dateString}}&nbsp;&nbsp;&nbsp;{{exception.timeString}}&nbsp;&nbsp;&nbsp;{{exception.errorMessage}}</span></mat-card>
  <br />

  <table class="analytics-feature-title">
    <tr>
      <td style="width: 20%; padding-left: 30px;">Performance</td>
      <td style="width: 40%; text-align: right; ">Response Time:</td>
      <td style="width: 10%; font-family: Arial; ">{{ac.analyticsData.averageResponseTime}}ms</td>
      <td style="width: 30%; text-align: right; padding-right: 5px; "><button mat-mini-fab color="accent" [disabled]="ac.analyticsData.performances.length === 0" (click)="onClickClearResponseTime()">Clear</button></td>
    </tr>
  </table>
  <mat-card style="margin-top: 10px; " *ngFor="let performance of ac.analyticsData.performances">{{performance.dateString}}&nbsp;&nbsp;&nbsp;{{performance.timeString}}&nbsp;&nbsp;&nbsp;{{performance.responseTime}}ms</mat-card>

</view-fader>
