<view-fader [isViewVisible]="isViewVisible">

  <mat-tab-group mat-align-tabs="center" color="primary" dynamicHeight [selectedIndex]="selectedIndex" (selectedIndexChange)="onChangeTab($event)">

    <mat-tab label="State Management">

      <div class="flex-container">
        <div class="flex-item app-text-primary">

          <div class="development-action-title" style="padding-top: 15px;">Action Recordings</div>

          <div class="development-feature-text">
            <div>
              <button mat-fab (click)="onClickSave()">Save</button>&nbsp;
              <button mat-fab (click)="onClickLoad()">Load</button>
            </div>
          </div>

        </div>
      </div>

    </mat-tab>

    <mat-tab label="Project Management">

      <div class="flex-container">

        <div class="flex-item app-text-primary">
          <div class="development-feature-title">
            <table style="width: 100%; ">
              <tr>
                <td style="width: 40%; text-align: left; ">{{bc.vsProject.name}}</td>
                <td style="width: 30%; text-align: center;   font-size: 20px;">Version: {{ac.appSettings.buildVersion}}</td>
                <td style="width: 30%; text-align: right; ">
                  <button (click)="onClickBuild()" mat-fab color="accent" title="Build Projects (enabled for build)">Build</button>
                </td>
              </tr>
            </table>
          </div>

          <div class="development-feature-git">
            <table style="width: 100%; ">
              <tr>
                <td style="width: 35%; ">Git Hooks:</td>
                <td style="width: 30%; font-size: 20px; ">Pre-Commit</td>
                <td style="width: 35%; font-size: 20px; ">Pre-Push</td>
              </tr>
            </table>

            <table style="width: 100%; ">
              <tr>
                <td style="width: 39%; "></td>
                <td style="width: 30%; font-size: 20px; text-align: left; ">
                  <mat-slide-toggle [(ngModel)]="bc.vsProject.developerSettings.buildHook" (change)="saveChanges()"></mat-slide-toggle>
                </td>
                <td style="width: 31%; font-size: 20px; text-align: left; ">
                  <mat-slide-toggle [(ngModel)]="bc.vsProject.developerSettings.importHook" (change)="saveChanges()"></mat-slide-toggle>
                </td>
              </tr>
            </table>
          </div>

          <div class="development-feature-projects">
            <table style="width: 100%; ">
              <tr>
                <td style="width: 38%; ">Startup Project:</td>
                <td style="width: 15%; font-size: 20px; ">&nbsp;</td>
                <td style="width: 15%; font-size: 20px; ">&nbsp;</td>
                <td style="width: 15%; font-size: 20px; ">&nbsp;</td>
                <td style="width: 17%; font-size: 20px; text-align: right; ">&nbsp;</td>
              </tr>
            </table>

            <mat-radio-group name="startupProjects">
              <table style="border-radius: 10px; font-size: 20px; font-family: px-neuropol; width: 100%; height: 50px; margin-top: 20px; margin-bottom: 20px; " [style.background-color]="willExecuteRelease(bc.vsProject) ? 'white' : '' ">
                <tr>
                  <td style="width: 250px; padding-left: 20px; ">
                    <div title="Debug using an Angular Release Build">
                      <mat-radio-button (click)="onClickDebugRelease(bc.vsProject); saveChanges();" name="startupProjects" [checked]="bc.vsProject.developerSettings.executeDist"></mat-radio-button>
                      <div style="display:inline-block; vertical-align: top; margin-top: 2px; margin-left: 5px; font-family: px-neuropol; ">release</div>
                    </div>
                  </td>

                  <mat-radio-group name="releaseProjects">
                    <td style="width: 200px; padding-top: 8px; " *ngFor="let angularProject of bc.vsProject.developerSettings.angularProjects; let index_1 = index; ">

                      <div *ngIf="bc.vsProject.developerSettings.executeDist">
                        <div title="Debug using the {{angularProject.name}} Release Build">

                          <mat-radio-button name="releaseProjects" [value]="index_1" (click)="onClickReleaseProject(angularProject);  saveChanges();" [checked]="angularProjectSelected(bc.vsProject, angularProject)"></mat-radio-button>
                          <div style="display:inline-block; vertical-align: top; margin-top: 2px; margin-left: 5px; font-family: px-neuropol; ">{{angularProject.name}}</div>

                        </div>
                      </div>
                    </td>
                  </mat-radio-group>
                </tr>
              </table>


              <table style="width: 100%; ">
                <tr>
                  <td style="width: 38%; ">&nbsp;</td>
                  <td style="width: 15%; font-size: 20px; ">Build</td>
                  <td style="width: 15%; font-size: 20px; ">Prod</td>
                  <td style="width: 15%; font-size: 20px; ">PWA</td>
                  <td style="width: 17%; font-size: 20px; text-align: right; ">Delete</td>
                </tr>
              </table>


              <div *ngFor="let angularProject of bc.vsProject.developerSettings.angularProjects; let index_2 = index;">
                <div style="padding-bottom: 18px; ">
                  <table style="border-radius: 10px; font-size: 20px; font-family: px-neuropol; width: 100%; height: 50px; " [style.background-color]="willExecuteProject(angularProject) ? 'white' : '' ">
                    <tr>
                      <td style="width: 40%; padding-left: 20px; ">
                        <div title="Debug the {{angularProject.name}} Angular Project">
                          <mat-radio-button (click)="onClickDebugEnabled(angularProject); saveChanges();" name="startupProjects" [value]="index_2" [checked]="willExecuteProject(angularProject)"></mat-radio-button>
                          <div style="display:inline-block; vertical-align: top; margin-top: 2px; margin-left: 5px; font-family: px-neuropol; " (click)="angularProject.showPanel = !angularProject.showPanel">{{angularProject.name}}</div>
                        </div>
                      </td>
                      <td style="width: 15%; ">
                        <div title="Enable the {{angularProject.name}} Release Build">
                          <mat-checkbox [(ngModel)]="angularProject.buildEnabled" (click)="saveChanges();"></mat-checkbox>
                        </div>
                      </td>
                      <td style="width: 15%; ">
                        <div title="Enable the Production mode for the {{angularProject.name}} Release Build">
                          <mat-checkbox [disabled]="!angularProject.buildEnabled" [(ngModel)]="angularProject.production" (click)="saveChanges();"></mat-checkbox>
                        </div>
                      </td>
                      <td style="width: 15%; ">
                        <div title="Enable to support PWA for the {{angularProject.name}} Release Build">
                          <mat-checkbox [disabled]="!angularProject.buildEnabled" [(ngModel)]="angularProject.pwaSupport" (click)="saveChanges();"></mat-checkbox>
                        </div>
                      </td>
                      <td style="width: 15%; text-align: right; padding-right: 20px; ">
                        <mat-icon *ngIf="angularProject.name !== 'desktop'" color="primary" (click)="onClickRemove(vsProject, angularProject)" style="cursor: pointer; margin-top: 0; " title="Remove Angular Project: '{{angularProject.name}}'  from the {{bc.vsProject.name}} Visual Studio Project">clear</mat-icon>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

            </mat-radio-group>
            <button (click)="onClickAdd()" mat-fab color="accent" title="Add a New Project" style="">Add</button>
          </div>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Event Log">
      <div class="flex-container">
        <div class="flex-item app-text-primary">

          <div class="development-exceptions-title" style="padding-top: 15px;">Generate & Log Events</div>

          <div class="development-exceptions-text">

            <button style="margin-left: 5px; " mat-fab (click)="onClickThrowException()">Throw</button>
            <input [spellcheck]="false" style="width: 200px; font-size: 18px; margin-left: 10px; " type="text" matInput placeholder="Enter Exception" [(ngModel)]="bc.eventProperties.exception">

            <br /><br />
            <button style="margin-left: 5px; " mat-fab (click)="onClickLogEntry()">Enter</button>
            <input [spellcheck]="false" style="width: 200px; font-size: 18px; margin-left: 10px; " type="text" matInput placeholder="Enter Message" [(ngModel)]="bc.eventProperties.message">

            <mat-radio-group style="padding-left: 50px;" name="messageType" [(ngModel)]="bc.eventProperties.entryType">
              <mat-radio-button name="messageType" [value]="1"></mat-radio-button>
              <div style="display:inline-block; vertical-align: middle; margin-top: 5px; margin-left: 2px; font-family: px-neuropol; color: rgba(255, 87, 34, 1);">Error</div>

              <mat-radio-button name="messageType" [value]="2" style="margin-left: 20px; "></mat-radio-button>
              <div style="display:inline-block; vertical-align: middle; margin-top: 5px; margin-left: 2px; font-family: px-neuropol; color: rgba(255, 87, 34, 1);">Warning</div>

              <mat-radio-button name="messageType" [value]="4" style="margin-left: 20px; "></mat-radio-button>
              <div style="display:inline-block; vertical-align: middle; margin-top: 5px; margin-left: 2px; font-family: px-neuropol; color: rgba(255, 87, 34, 1);">Information</div>

            </mat-radio-group>

          </div>

        </div>

        <div class="flex-item app-text-primary">

          <div class="development-exceptions-title" style="padding-top: 15px;">Application Event List</div>

          <div class="development-event-list">

            <table style="color: #ff5722; font-family: Neuropol;">
              <tr>
                <td style="width: 300px; padding-left: 20px; ">Type</td>
                <td style="width: 300px; padding-left: 0; ">Date</td>
                <td style="width: 300px; padding-left: 0; ">Time</td>
              </tr>
            </table>
            <mat-accordion multi="true">
              <mat-expansion-panel *ngFor="let event of bc.eventLogEntries; " style="background-color: whitesmoke; ">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <table style="color: #ff5722; font-family: Neuropol; width: 100%; ">
                      <tr>
                        <td style="width: 300px; ">
                          <mat-icon [style.color]="getEventTypeColor(event.entryType)" class="toolbar-icon-button">{{getIconName(event.entryType)}}</mat-icon>
                        </td>
                        <td style="width: 300px; ">
                          {{
event.timeGenerated.getMonth() + 1
                          }}/{{event.timeGenerated.getDate()}}/{{event.timeGenerated.getYear()}}
                        </td>
                        <td style="width: 300px; ">{{event.timeGenerated.toLocaleTimeString()}}</td>
                      </tr>
                    </table>

                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div style="text-align: left; ">
                  Entry Type: {{getEventTypeText(event.entryType)}}
                  <br />
                  <div *ngFor="let s of event.replacementStrings; let index = index; ">
                    <div *ngIf="index > 0">{{s}}</div>
                    <br />
                  </div>
                </div>

              </mat-expansion-panel>

            </mat-accordion>

          </div>

        </div>
      </div>
    </mat-tab>

  </mat-tab-group>

</view-fader>

