
  <view-fader [isViewVisible]="isViewVisible">


    <mat-tab-group mat-align-tabs="center" color="primary" dynamicHeight [selectedIndex]="selectedIndex">

      <mat-tab label="State Management">

        <div class="flex-container">
          <div class="flex-item app-text-primary">
            <div class="development-feature-title" style="font-family: px-neuropol; ">State Management Testing</div>
            <div class="development-feature-text">
              <div>
                <button mat-button (click)="onClickSave()">Save</button>
                <button mat-button (click)="onClickLoad()">Load</button>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Project Management">

        <div class="flex-container">


          <div class="flex-item app-text-primary">
            <div class="development-feature-title" style="font-family: px-neuropol; width: 700px;">Ver:</div>


            <div class="development-feature-git" style="font-family: px-neuropol; ">
              <table>
                <tr>
                  <td>Git Hooks:</td>
                  <td>111
                  </td>
                  <td>222
                  </td>
                </tr>
              </table>

            </div>

            <div class="development-feature-projects" style="font-family: px-neuropol; width: 700px;">
              Startup Project:

              <div *ngFor="let angularProject of ac.vsProject.developerSettings.angularProjects" class="feature-heading card-header">
                <div class="card-header" style="padding-bottom: 18px; ">
                  <table class="card-header text-primary" style="font-size: 20px; font-family: px-neuropol; width: 100%; height: 50px; " [style.background-color]="willExecuteProject(angularProject) ? 'white' : '' ">
                    <tr>
                      <td style="width: 40%; ">
                        <div title="Debug the {{angularProject.name}} Angular Project">
                          <input (click)="onClickDebugEnabled(vsProject, angularProject);  saveChanges(vsProject);" [checked]="willExecuteProject(angularProject)" style="width: 22px; display:inline-block; margin-top: 10px; " type="radio" class="form-control" />
                          <div style="display:inline-block; margin-top: 10px; vertical-align: top; margin-top: 10px; margin-left: 5px; font-family: px-neuropol; font-weight: 500; " (click)="angularProject.showPanel = !angularProject.showPanel">{{angularProject.name}}</div>
                        </div>
                      </td>
                      <td style="width: 15%">
                        <div title="Enable the {{angularProject.name}} Release Build">
                          <input [(ngModel)]="angularProject.buildEnabled" (change)="saveChanges(vsProject)" style="width: 22px; display:inline-block; margin-top: 10px; " type="checkbox" class="form-control" />
                          <label class="text-primary" style="display:inline-block; margin-top: 10px; vertical-align: top; margin-top: 13px; margin-left: 5px;">Build</label>
                        </div>
                      </td>
                      <td style="width: 15%">
                        <div title="Enable the Production mode for the {{angularProject.name}} Release Build">
                          <input [disabled]="!angularProject.buildEnabled" [(ngModel)]="angularProject.production" (change)="saveChanges(vsProject)" style="width: 22px; display:inline-block; margin-top: 10px; " type="checkbox" class="form-control" />
                          <label class="text-primary" style="display:inline-block; margin-top: 10px; vertical-align: top; margin-top: 13px; margin-left: 5px;">Prod</label>
                        </div>
                      </td>
                      <td style="width: 15%">
                        <div title="Enable to support PWA for the {{angularProject.name}} Release Build">
                          <input [disabled]="!angularProject.buildEnabled" [(ngModel)]="angularProject.pwaSupport" (change)="saveChanges(vsProject)" style="width: 22px; display:inline-block; margin-top: 10px; " type="checkbox" class="form-control" />
                          <label class="text-primary" style="display:inline-block; margin-top: 10px; vertical-align: top; margin-top: 13px; margin-left: 5px;">PWA</label>
                        </div>
                      </td>
                      <td style="width: 15%">
                        <button title="Remove Angular Project {{angularProject.name}}  from the {{ac.vsProject.name}} Visual Studio Project" *ngIf="angularProject.name !== 'desktop'" (click)="onClickRemove(vsProject, angularProject)" class="btn btn-sm btn-outline-primary" style="font-size: 14px; font-weight: bold; width: 30px; float: right; margin: 5px; margin-right: 20px; font-family: Arial; ">X</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

            </div>
          </div>


        </div>

      </mat-tab>

    </mat-tab-group>

  </view-fader>

