<view-fader [isViewVisible]="isViewVisible">
  <br />

  <div class="flex-container">
    <div class="flex-item settings-feature-text app-text-primary" style="height: 475px; ">
      <div>
        <h3 class="app-text-accent" style="font-family: px-neuropol; text-align: center; ">App Vewrsion: {{ac.apiVersions.application}}</h3>
      </div>
      <table>
        <tr>
          <td style="width: 170px; text-align: right; color:darkgreen;">ASP.Net Core:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; color:darkgreen;">{{ac.appSettings.aspNetCoreVersion}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; color: orangered;">Angular:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; color: orangered;">{{ac.apiVersions.angular}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; color: orangered;">TypeScript:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; color: orangered;">{{ac.apiVersions.typeScript}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; color: orangered;">NodeJs:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; color: orangered;">{{ac.apiVersions.nodeJs}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; color: orangered;">V8 Engine:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; color: orangered;">{{ac.apiVersions.v8Engine}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">RxJs:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.rxJs}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">Bootstrap:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.bootstrap}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">Lodash:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.lodash}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">Moment:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.moment}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">ngxToastr:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.ngxtoastr}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">FileSaver:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.fileSaver}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">CoreJs:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.coreJs}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">ZoneJs:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.zoneJs}}</td>
        </tr>
        <tr>
          <td style="width: 170px; text-align: right; ">GoogleMaps:</td>
          <td style="width: 20px; ">&nbsp;</td>
          <td style="width: 20px; ">{{ac.apiVersions.googleMaps}}</td>
        </tr>
      </table>
    </div>

    <div class="flex-item settings-feature-text  app-text-primary" style="height: 200px; ">
      <h3 class="app-text-accent" style="font-family: px-neuropol; text-align: center; ">Settings</h3>
      <div style="margin-left: 100px; ">
        <div>Debug={{ac.appSettings.debug}}</div>
        <div>Testing={{ac.appSettings.testing}}</div>
        <div>Splash Time={{ac.appSettings.splashTime}}ms</div>
        <div>Online Status={{ac.isOnline}}</div>
        <div>Standalone={{ac.isStandAlone}}</div>
      </div>
    </div>

  </div>

</view-fader>

