

.analytics-feature-title {
  color: mat-color($custom-accent);
  background-color: #dfdfdf;
  font-family: px-neuropol;
  font-size: 24px;
  padding: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 25px;
}
