<modal-dialog class="text-primary" [isVisible]="showModalDialog">
    <div style="text-align: center; ">
        <label>Project Version: {{ac.apiVersions.application}}</label>
        <br />
        <label>Angular Version: {{ac.apiVersions.angular}}</label>
        <br />
        <label>ASP.Net Core Version: {{ac.appSettings.aspNetCoreVersion}}</label>
        <br />
        <div>The date is: {{date.toLocaleDateString()}}</div>
        <div>The time is: {{date.toLocaleTimeString()}}</div>
        <div>This is the week of: {{theWeekOf}}</div>
    </div>
</modal-dialog>

<view-fader *ngIf="ac.isSpinnerAvailable" [isViewVisible]="ac.isSpinnerVisible" style="position: fixed; top: 45%; left: 45%; z-index: 500; font-size: 75px; color:#3379b7">
    <i class="fa fa-spinner fa-spin"></i>
</view-fader>

<div class="topMargin">
    <view-fader class="displayIfNotPhone" [isViewVisible]="appLoaded">
        <div *ngIf="appLoaded">
            <button class="btn btn-primary" style="float: right; margin-left: 10px; margin-top: 7px;" (click)="onClickAbout();">About</button>
            <div *ngIf="this.ac.isOnline"><i class="fa fa-podcast fa-2x" style="float: right; margin-left: 10px; margin-top: 10px; color: green; " title="Application is Online"></i></div>
            <div *ngIf="!this.ac.isOnline"><i class="fa fa-podcast fa-2x" style="float: right; margin-left: 10px; margin-top: 10px; color: #ff6a00; " title="Application is Offline"></i></div>
            <div class="btn-group" style="float: right; top: 7px; ">
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': selectedFeature === '/restart'}" (click)="navigateTo('/restart')">Restart</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/notification'}" (click)="navigateTo('/notification')">Notification</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/mobileApis'}" (click)="navigateTo('/mobileApis')">Mobile APIs</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/splash'}" (click)="navigateTo('/splash')">Technology</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/settings'}" (click)="navigateTo('/settings')">Settings</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/features'}" (click)="navigateTo('/features')">Features</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/analytics'}" (click)="navigateTo('/analytics')">Analytics</button>
                <button class="btn btn-primary btn-sm feature-not-selected" [ngClass]="{'btn-outline-primary btn-sm feature-selected': currentRouteUrl() === '/alreadyReady'}" (click)="navigateTo('/alreadyReady')">Already Ready</button>
            </div>
        </div>
    </view-fader>
    <br /><br />
    <view-blinker class="displayIfNotPhone" [blinking]="titleBlinking" [visibleWhenNotBlinking]="true">
        <div class="text-primary" style="text-align: center; width: 100%; font-family: px-neuropol; font-size: 54px; ">{{appTitle}}</div>
    </view-blinker>
    <router-outlet></router-outlet>
</div>
